<br>
<div class="page-header text-center text-white" ng-controller="GestaoController">
	<h1>{{novoUsuario.nome}}|</h1>
</div>
<form name="formulario" class="row text-white" ng-submit="submeter()">
	<div class="col-md-12">
		<div class="form-group">
			<label>Nome de usuario</label>
			<input name="nome" placeholder="alice da silva" class="form-control" ng-model="novoUsuario.nome" required
				maxlength="50">
		</div>
		<div class="form-group">
			<label>CPF</label>
			<input name="cpf" placeholder="000.000.000-00" class="form-control" ng-model="novoUsuario.cpf" required
				maxlength="14">
		</div>
		<div class="form-group">
			<label>Email</label>
			<input name="email" placeholder="alice.silva@mail.com" class="form-control" ng-model="novoUsuario.email" required>
		</div>
		<div class="form-group">
			<label>Senha</label>
			<input name="Senha" type="password" placeholder="SilvaAlice123" class="form-control" ng-model="novoUsuario.senha"
				required>
		</div>
		<button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">
			Salvar
		</button>
		<a href="/gestao" class="btn btn-danger">Voltar</a>
		<hr>
	</div>
</form>